# general things to ignore
build/
dist/
data/
.DS_Store
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.ipynb

# due to using tox and pytest
.tox
.cache

# specific files to ignore
validation.ipynb